body {
  font-family: 'Courier New', monospace;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  opacity: 0.8;
}
