.footer {
  border-top: 1px solid #969696;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__copyright {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}
