.hero__tire-container {
  display: flex;
  flex-direction: column;
  outline: 1px solid #b1b1b1;
}

.hero__tire-pic {
  margin-bottom: 10px;
  display: block;
}

.hero__title {
  text-align: center;

  font-size: 44px;
  color: #2c2c2c;
}

.hero__description {
  text-align: center;
}
